#about {
  background-color: #f8f8f8;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-item {
  // 300/1100=27%
  width: 27%;
  background-color: #fff;
  padding: 40px 3.5vw 30px;

  &:nth-child(n + 4) {
    margin-top: 46px;
  }

  &-title {
    font-size: 2.2rem;
    text-align: center;
  }
  &__img {
    width: 122px;
    height: 122px;
    margin: 20px auto 25px;
    img {
      width: 122px;
      height: 100%;
    }
  }
  &__desc {
    margin-top: 35px;
  }
}
