#contact {
  background-image: url("../img/bg3.png");
  background-size: cover;
  color: #fff;
}

.title {
  font-weight: bold;
  font-size: 2rem;

  &::before {
    border-color: #fff;
  }
  &::after {
    @extend .white-title::before;
  }
}

.contact-box {
  margin-bottom: 33px;
  //   後に記述？
  width: 100%;

  &:nth-of-type(3) {
    position: relative;

    &::after {
      display: block;
      position: absolute;
      background: url(../img/arrow.png);
      background-size: 100%;
      content: "";
      top: 60%;
      right: 15px;
      width: 15px;
      height: 15px;
    }
  }
}

.contact-wrap {
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
}

.contact-caution {
  padding-bottom: 25px;
}

.red {
  color: red;
  margin-left: 8px;
}

.contact-text {
  margin-bottom: 10px;
}

input,
textarea,
select {
  width: 100%;
  border-radius: 7px;
  padding: 15px;
}

select {
  appearance: none;
}

textarea {
  height: 185px;
}

.contact-box:nth-of-type(4) {
  margin-bottom: 0px;
}
