*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p,span,button{
    margin: 0;
    padding: 0;
    font-weight:normal;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    color: #555;
    margin: 0;
    line-height: 1.6;
}

.inner{
    width:1100px;
    padding:90px 0;
    margin:0 auto;
}

header{
    width:100%;
    display:flex;

    justify-content: space-between;
    padding: 0 20px;
    color: #fff;

    background-color: inherit;

    position:absolute;

    z-index:10;
}

.header-logo {
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
}

.header-nav ul{
    display: flex;
    padding:22px 0;
}

.header-nav ul li{
    margin-left: 55px;
    font-size: 15px;
}

#first-v{
    height:770px;
    background-image:url("../img/true.bg1.png");
    background-size:cover;
    color:#fff;
    position:relative;
}

.fa-door-open {
    padding-right: 4px;
}

.first-v-wrap{
    padding:285px 0 255px;
    margin:0 auto;
    width: 250px;
    text-align: center;
}

.first-v-title {
    margin-bottom:150px;
    font-weight:bold;
    font-size: 27px;
}
.first-v-title::after {
    display:block;
    content:"";
    width:100px;
    margin:20px auto 0;

    border-top:1px solid #FFF;
}

.first-v-btn {
    width: 200px;
    height:50px;
    text-align:center;
    font-weight:bold;
    
    border:none;

    border-radius: 5px;

    background: linear-gradient(-90deg,#283C86,#06BEB6);

    box-shadow:0px 5px #070707;
    font-weight:bold;
    font-size:15px;
    color:#FFF;
}

#about {
    color:#191919;
    background-color:#F8F8F8;
}

.about-wrap{
    display:flex;
    flex-wrap:wrap;
    margin-top:60px;
}

.about-item{
    width:300px;
    height:312px;
    padding:35px 50px 50px;
    text-align: center;
    background-color:#FFF;
    margin-right:100px;
}

.about-item:nth-child(3),.about-item:nth-child(6){
    margin-right:0;
}

.about-item:nth-child(n+4):nth-child(-n+6){
    margin-top:47px;
}

.about-item__title{
    font-size:22px;
}

.about-item__img{
    margin:20px auto 25px;
    width:122px;
    height:122px;
}

.about-item__img img{
    width:100%;
}

.about-item__desc{
    font-size:13px;
}

.about-title{
    display:flex;
    width: 250px;
    padding-bottom:60px;
    justify-content: center;
    align-items:center;
    font-size: 18px;
    font-style:italic;
    text-align:center;
    margin:0 auto;
}

.about-title-b{
    font-weight: bold;
}

.about-title::before{
    content:"";
    display:inline-block;
    width:30px;
    margin-right:20px;
    border-top:1px solid #191919;
    content:"";
}

.about-title::after {
    content:"";
    display:inline-block;
    width:30px;
    margin-left:20px;
    border-top:1px solid #191919;
    content:"";
}

#entry {
   background-color: #FFF;
}

.fa-door-open {
    padding-right: 4px;
}

.entry-wrap {
    padding:175px 0;
    margin:0 auto;
    width: 320px;
    text-align: center;
}

.entry-title {
    color:#191919;
    font-size:18px;
    font-weight: bold;
    margin-bottom: 55px;
}

.entry-btn {
    width:320px;
}

#news{
    width:100%;
    background-image:url(../img/background2.png);
    background-size: cover;
    overflow:hidden;
}

.white-title{
    width:150px;
    color:#FFF;
}

.white-title::before{
    content:"";
    width:30px;
    margin-right:20px;
    border-top: 1px solid #FFF;
}

.white-title::after{
    content:"";
    width:30px;
    margin-left:20px;
    border-top: 1px solid #FFF;
}

.news-wrap{
    display:flex;
   justify-content:space-between;
}

.news-item{
    width:340px;
    margin-top:60px;
}

.news-img{
    width:100%;
    height:210px;
}

.news-img img{
    width:100%;
    height:100%;
}

.news-content{
    padding:20px;
    background-color:#FFF;
}

.news-date{
    font-size:14px;
}

.news-title{
    padding:8px 0 20px;
    font-weight: bold;
    font-size:14px;
}

.news-txt{
    font-size:12px;
}

footer{
    background-color:#191919;
    height: 50px;
}

.company-info{
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 12px;
    color: #FFF;
}