/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 12px;
  line-height: 1.67;
}

.inner {
  width: 80%;
  padding: 90px 0;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 60px;
}

.title--b {
  font-weight: bold;
}

.title::before, .title::after {
  display: inline-block;
  content: "";
  width: 3rem;
  border-top: 1px solid #191919;
  margin-right: 2rem;
}

.title::after {
  margin-right: 0;
  margin-left: 2rem;
}

#about {
  background-color: #f8f8f8;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-item {
  width: 27%;
  background-color: #fff;
  padding: 40px 3.5vw 30px;
}

.about-item:nth-child(n + 4) {
  margin-top: 46px;
}

.about-item-title {
  font-size: 2.2rem;
  text-align: center;
}

.about-item__img {
  width: 122px;
  height: 122px;
  margin: 20px auto 25px;
}

.about-item__img img {
  width: 122px;
  height: 100%;
}

.about-item__desc {
  margin-top: 35px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: #fff;
  background-color: inherit;
  position: absolute;
  z-index: 20;
}

header nav {
  width: 45%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 2.2rem 0;
}

header nav ul li {
  margin-left: 5.5rem;
  font-size: 1.5rem;
}

.header-logo {
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.ham {
  display: none;
}

#first-v {
  background-image: url("../img/true.bg1.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.first-v-wrap {
  width: 250px;
  height: 230px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.first-v-title {
  color: #fff;
  font-size: 2.7rem;
  font-weight: bold;
}

.first-v-title::after {
  display: block;
  width: 9.7rem;
  content: "";
  border-bottom: 1px solid #fff;
  margin: 2rem auto 0;
}

.first-v-btn, .entry-btn {
  width: 200px;
  height: 50px;
  background: linear-gradient(to right, #06beb6, #283c86);
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #070707;
}

#entry {
  height: 48.2rem;
  width: 100%;
  position: relative;
}

.entry-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 32rem;
  height: 12.7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-btn {
  width: 100%;
  height: 5rem;
}

.entry-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #191919;
  margin-bottom: 4rem;
  text-align: center;
}

footer {
  background-color: #191919;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */